* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* -----Global Styles----- */
h1 {
  color: #fff;
}

body {
  background: #000;
}

.section-p1 {
  padding: 40px 80px;
}

.section-header {
  margin: 25px 0;
}

/* -----Header Start----- */
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 50px;
}
#navbar li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
#navbar a {
  scroll-behavior: smooth;
}

/* -----Hero Start----- */
#hero {
  width: 100%;
  background-image: url("assets/hero-bg.png");
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  color: #fff;
  text-shadow: 10px 10px 8px #c52eac, 10px 6px 8px #08c3a2cc;
  font-size: 6rem;
  text-transform: uppercase;
}
#hero h2 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.hero-content p {
  color: #08c3a2cc;
  font-size: 24px;
}
.hero-content .fa-brands {
  color: #08c3a2cc;
  font-size: 24px;
  margin: 0 15px;
  transition: 0.5s;
}
.hero-content .fa-brands:hover {
  color: #fff;
}
.fa-circle-chevron-down {
  font-size: 50px;
  margin: 25px 0;
  color: #c52eac;
}

/* -----projects----- */
#projects {
  text-align: center;
  background: #000;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-align: left;
}
.work img {
  width: 100%;
  border-radius: 10px;
  border-right: 2px;
}
.work-info {
  width: 100%;
  height: 0;
  background: linear-gradient(#c52eaccc, #08c3a2cc);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  transition: height 0.5s;
}
.work-info p {
  color: #fff;
}
.work-info h3 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}
.work-info a {
  margin-top: 25px;
  color: #fff;
  text-decoration: none;
  background-color: #c52eac;
  border-radius: 10px;
  padding: 8px 10px;
  text-align: center;
}
.work-info i {
  font-size: 32px;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .work-info {
  height: 100%;
}

/* -----experience----- */
#experience {
  display: flex;
  justify-content: space-between;
}
.experience-history {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.experience-history,
.skills {
  flex-basis: 50%;
}
/* .experience-history {
    background-color: yellowgreen;
} */
.job,
.school {
  margin: 15px 0;
}
.job-title,
.skill-section-title,
.school-title {
  color: #c52eac;
  font-weight: 600;
  font-size: 24px;
}
.job-header,
.school-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.job-years,
.school-years {
  color: #fff;
}
.job h4,
.school h4 {
  color: #08c3a2cc;
  font-size: 18px;
}
.job p,
.skill-section li,
.school p {
  color: #fff;
  font-size: 18px;
}
.skills {
  text-align: right;
  border-left: 2px solid #c52eac;
}
.skill-list {
  margin: 15px 0;
}
.skill-list ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.skill-list li {
  list-style: none;
}

/* -----contact start----- */
#contact {
  text-align: center;
}
.contact-list {
  color: #fff;
  font-size: 24px;
}
.contact-list a {
  text-decoration: none;
  color: #fff;
}
.contact-list i {
  color: #c52eac;
  margin: 0 15px;
  transition: 0.5s;
}
.contact-list i:hover {
  color: #08c3a2cc;
}
.social-icons {
  margin: 15px 0;
}

@media screen and (max-width: 425px) {
  .section-p1 {
    padding: 20px 15px;
  }
  .section-header {
    margin: 10px 0;
  }
  #navbar li {
    padding: 0 10px;
  }
  #navbar li a {
    font-size: 14px;
  }
  #hero h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  #hero h2 {
    font-size: 1.3rem;
  }
  .fa-circle-chevron-down {
    font-size: 35px;
  }
  .work-list {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    margin-top: 25px;
    grid-gap: 20px;
  }
  .work-info {
    padding: 0 15px;
    font-size: 0.875rem;
  }
  .work-info h3 {
    margin-bottom: 5px;
  }
  #experience {
    flex-direction: column;
  }
  .experience-history {
    padding-right: 10 px;
  }
  .job-title,
  .skill-section-title,
  .school-title {
    font-size: 18px;
  }
  #experience h4,
  #experience p {
    font-size: 14px;
  }
  .skills {
    border: none;
  }
  .skill-list ul {
    grid-template-columns: repeat(2, minmax(40px, 1fr));
  }
  .skill-list li {
    font-size: 14px;
  }
  .contact-list {
    font-size: 16px;
  }
}

@media screen and ((min-width: 426px) and (max-width: 768px)) {
  .section-header {
    margin: 5px 0;
  }
  #navbar li {
    padding: 0 10px;
  }
  #navbar li a {
    font-size: 16px;
  }
  .section-header {
    margin: 15px 0;
  }
  #hero h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  #hero h2 {
    font-size: 1.8rem;
  }
  #experience {
    flex-direction: column;
  }
  .work-list {
    grid-template-columns: repeat(1, minmax(80px, 1fr));
  }
  .job h4 {
    font-size: 1rem;
  }
  .job-title,
  .skill-section-title,
  .school-title {
    font-size: 1.2rem;
  }
  .skills {
    border: none;
  }
  .skill-list ul {
    grid-template-columns: repeat(2, minmax(30px, 1fr));
  }
  .skill-list li {
    font-size: 1rem;
  }
}

@media screen and ((min-width: 769px) and (max-width: 1024px)) {
  #hero h1 {
    font-size: 3.5rem;
  }
}
